<div ng-if="element.type == 'SlideBar'">
    <label for="{{element.Id}}">{{element.id}}</label>
    <input type="range" value="50" name="{{element.Id}}" min="{{element.min}}" max="{{element.max}}" value="{{element.value}}" id="{{element.Id}}"/>
    <!--<input id="{{element.Id}}" name="{{element.id}}" type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show">-->
</div>

<div ng-if="element.type == 'Button'">
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">{{element.id}}</button>
        </div>
    </div>
</div>

<div ng-if="element.type == 'SelectMenu'">

    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{element.info}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button class="btn btn-default" ng-repeat="option in element.value" value="{{element.value[$index]}}" ng-click="changeOption(element.choices[$index])">{{element.choices[$index]}}</button>
                </div>
            </div>

        </ul>
    </div><span class="label label-success">{{selectedOption}}</span>
    <select class="form-control">

        <option ng-repeat="option in element.value" value="{{element.value[$index]}}">{{element.choices[$index]}}</option>

    </select>
</div>