<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <h1 class="text-center">Skookum</h1>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div ng-repeat="buttons in menuButtons">

        <div class="btn-group btn-group-justified">
          <!--Button 1-->
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="goToView1(buttons['button' + $index*2].id, buttons['button' + $index*2].info)">{{buttons["button" + $index*2].info}}</button>
            </div>
               <!--Button 2-->
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="goToView1(buttons['button' + ($index*2 + 1)].id, buttons['button' + ($index*2 + 1)].info)">{{buttons["button" + ($index*2 + 1)].info}}</button>
            </div>
        </div>
    </div>


    <div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <h1 class="text-center">Advanced</h1>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!--<button ng-click="goToView1()">Menu1</button>-->

        <!--<button ng-click="goToView()">Menu2</button>-->
    </div>
