<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <h1 class="text-center">Skookum</h1>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <a id="" ng-href="#/views/partials/this">testLink</a>
    <div ng-repeat="buttons in menuButtons | exactMatchFilter:'AdvancedMenu':'LinkButton'">

        <div class="btn-group btn-group-justified">
            <!--Button 1-->
            <div class="btn-group">
                <button type="button" id="{{buttons.button0.id}}" class="btn btn-default" ng-click="goToView1()">{{buttons.button0.info}}</button>
            </div>
               <!--Button 2-->
            <div ng-if="buttons.button1" class="btn-group">
                <button type="button" class="btn btn-default" ng-click="goToView1()">{{buttons.button1.info}}</button>
            </div>
        </div>
    </div>


    <div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <h1 class="text-center">Advanced</h1>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!--<button ng-click="goToView1()">Menu1</button>-->

        <!--<button ng-click="goToView()">Menu2</button>-->
    </div>
